# Razer DeathAdder V2 and DeathAdder V3 Pro wireless
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1532", ATTRS{idProduct}=="0084", MODE="0660", TAG+="uaccess"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1532", ATTRS{idProduct}=="00c3", MODE="0660", TAG+="uaccess"
